html,body,li,ul,h1,h2,h3,h4,h5,h6,p,a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

img {
    width: 100%;
}

body {
    background: url("https://wallpapersite.com/images/wallpapers/abstract-lines-2880x1800-stock-yellow-green-hd-904.jpg");
    background-attachment: fixed;
}


main {
    padding: 2em 0;
    margin: 0 4em;
    background: rgba(255,255,255,.3);
}

header {
    background: rgba(255,255,255,.8);
}

.main_menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.one_menu_item {
    padding: 1em;
    color: hsl(0,0%,20%);
    text-decoration: none;
    transition: all .3s ease;
}

.one_menu_item:hover {
    background: hsl(0,0%,80%);
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}

.one_menu_item.current_page {
    background: hsl(0,0%,80%);
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}

.add_user_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 2em;
}

.form-inputs {
    display: flex;
    flex-wrap: wrap;
}

.form-control {
    display: flex;
    width: calc(100%/3 - 1.3em);
    flex-direction: column;
    margin: .3em;
    box-sizing: border-box;
}

.form-control label {
    font-size: 12px;
    color: hsl(0,0%,30%);
    margin: .5em 0;
}

.form-control input, .form-control select {
    background: hsl(0,0%,95%);
    font-size: 16px;
    /* padding: .5em; */
    height: 2em;
    border: 1px solid rgba(180,180,180,.1);
    border-radius: 5px;
}

.form-submit input {
    width: 50%;
    /* height: 16px; */
    background: rgb(53, 53, 214);
    color: white;
    border-radius: 5px;
    font-size: 15px;
}

.form-submit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
}

table {
    width: 100%;
}

td {
    text-align: center;
}